html,
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}

body {
    min-height: 110vh;
}

header {
    background-color: #333333;
    height: 75px;
    padding: 0 241px 0 241px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
}

span i {
    color: #30302E;
}

.header-right {
    display: flex;
    align-items: center;

}


.header-right p {
    font-size: 14px;
    margin: 20px;
    font-weight: 400;
}

.header-middle {
    font-size: 25px;
    font-weight: 400;
}

.container {
    padding: 0 241px 0 241px;
    margin-top: 9.06rem;
    display: flex;

}

.material-symbols-outlined {
    background-color: #F1F3FD;
    padding: 5px;
    border-radius: 1.06rem;
    color: #002851;
    width: 3.31rem;
    height: 3.31rem;
    text-align: center;
    padding-top: 1rem;
}



.list-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.list-content p {
    font-size: 1.25rem;
    font-weight: 400;
    color: #30302E;
}

.list-content:nth-child(4) {
    justify-content: flex-start;
    margin-left: 3rem;
}

.list-content:nth-child(4) p {
    font-size: 1.06rem;
    color: #ACB7EB;
}

.list-content:nth-child(4) span {
    color: #ACB7EB;
    background-color: transparent;
}

.profile-area {
    width: 14.38rem;
    margin-right: 11.36rem;
}

.profile-area h4 {
    font-size: 1.86rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3.44rem;
    color: #30302E;
}

.photo {
    width: 14.19rem;
    height: 15.5rem;
    background-color: beige;
    border-radius: 35px;
    background: url('/assets/Profile.jpg');
    background-size: cover;
}

.picicon {
    position: relative;
    margin-bottom: 3rem;
}

.photo-icon {
    position: absolute;
    background: linear-gradient(180deg, #800165 0%, #D3014E 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
    color: #FFF;
    bottom: -0.8rem;
    width: 2.4rem;
    height: 2.4rem;
    left: 5.5rem;
    text-align: center;
    padding-top: 0.5rem;
}

.form-area {
    position: relative;
    width: 47.5rem;
    height: 44.9rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 29px #F0F3FF;
    border-radius: 35px;
    padding-left: 4.94rem;
}

.top-icon {
    position: absolute;
    top: 1.8rem;
    right: 1.8rem;
    background: linear-gradient(180deg,
            #800165 0%, #D3014E 100%);
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-icon i {
    color: #FFF;

}

.field {
    margin-top: 4.44rem;
}

.field-items {
    display: flex;
    margin-bottom: 2.86rem;
    position: relative;
}

.field-items input {
    background-color: #F1F3FD;
    padding-left: 1.69rem;
    height: 3.31rem;
    width: 28.81rem;
    font-size: 1.06rem;
    outline: none;
    border: none;
    border-radius: 1.06rem;
}

.field-items input::placeholder {
    color: #C5CCEC;
}

.serial-no {
    margin-right: 1.25rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: #CC4174;
}

.field-question {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.field-question-header {
    display: flex;
    justify-content: flex-start;
}

.input-fields {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-fields input:first-child {
    width: 40%;
    margin-right: 1rem;
}

.input-fields input:nth-child(2) {
    width: 60%;
    margin-right: 1rem;
}

.yes {
    font-size: 1.25rem;
    color: #CC4174;
    margin-left: 1rem;
}

.no {
    font-size: 1.25rem;
    color: #ACB7EB;
    margin-left: 1rem;
}

.input-width {
    width: 14rem !important;
}

.next-step {
    width: 12.5rem;
    height: 4.06rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #066AEF;
    box-shadow: 0px 4px 14px rgba(51, 157, 255, 0.22);
    border-radius: 6px;
    color: #FFF;
    position: absolute;
    top: 12rem;
    left: 12rem;
}

.next-step p {
    font-size: 1.25rem;
    margin-right: 1rem;
}

button {
    width: 5.5rem;
    height: 3.31rem;
    outline: none;
    border: none;
    color: #002851;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 1.06rem;
    margin-right: 1.44rem;
}